<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <script type="text/javascript">
	$(function(){
	    var countMax = 140;
	    $('textarea').bind('keydown keyup keypress change',function(){
	        var thisValueLength = $(this).val().length;
	        var countDown = (countMax)-(thisValueLength);
	        $('.count').html(countDown);
	 
	        if(countDown < 0){
	            $('.count').css({color:'#ff0000',fontWeight:'bold'});
	        } else {
	            $('.count').css({color:'#000000',fontWeight:'normal'});
	        }
	    });
	    $(window).load(function(){
	        $('.count').html(countMax);
	    });
	});
	</script>



</head>

<body>
 <%= render 'layouts/header' %>

	 <div class="container">

		 <% flash.each do |key,value| %>
		 	  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
		 <% end %>

		 <%= yield %>
		 <%= render 'layouts/footer' %>
		 <%= debug(params) if Rails.env.development? %>

	 </div>
</body>

</html>
